.prediction-results {
  background: #ffffff;
  border-radius: 12px;
  width: 100%;
  max-width: 1250px;
}

.prediction-results h3 {
  color: #2d3748;
  font-size: 1.4rem;
  text-align: left; 
  margin-left: 170px;
  padding-left: 12px;
}

.results-wrapper {
  display: flex;
  margin-top: 5px;
  padding: 0;
  gap: 110px;
  align-items: flex-start;
  border-radius: 20px;
}

.results-column {
  flex: 0 0 40%;
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
  flex-direction: column;
  gap: 20px;
}

.results-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result-item {
  padding: 12px;
  background-color: rgba(133, 218, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parameter-name {
  color: #001334;
  font-size: 1.0rem;
  font-weight: 500;
}

.parameter-value {
  color: #003186;
  font-size: 1.1rem;
  font-weight: 700;
}

.quality-class {
  margin-top: 10px;
  text-align: center;
  padding: 12px;
  background-color: rgba(133, 218, 255, 0.4);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  
}

.quality-class h4 {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.quality-class p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #003ba0;
  margin: 0;
}



.plot-image {
  width: 600px;
  height: 350px;
  border-radius: 8px;
}
