.map-container {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 400px;
  height: 250px;
  border-radius: 16px;
  overflow: hidden;
}

.map-container:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.map-container .leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.leaflet-control-attribution {
  display: none;
}
